/* The default warning color is pretty ugly... */
image.warning {
	color: @yellow_5;
}

/* Custom font sizes for timezone page */
label.tz-auto-prompt { font-size: 20px; }
label.tz-auto-time { font-size: 60px; }

/* Bottom Bar (used in kbd-layout) */
.bottom-bar {
	border-top: 1px solid @borders;
	padding: 6px;
}
